* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  list-style: none;
  transition: all 350ms ease;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.primary-btn {
  height: auto;
  width: auto;
  /* background-color: rgb(30, 39, 95) !important; */
  background-color: rgb(28, 39, 112) !important;
}
html{
  scroll-behavior: smooth;
}

:root {
  --navbar-bg: rgb(17, 24, 116);
  --active-bg: rgb(33, 40, 187);
  --span-bg: rgb(174, 177, 21);
  --text-color: white;
  --sec-text-color: rgb(241, 236, 236);
}
::-webkit-scrollbar{
  background: rgb(33, 40, 187);
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(33, 40, 187);
}

body {
  background-color: rgb(3, 6, 46);
  color: white;
}

span {
  color: var(--span-bg);

  font-weight: bold;
}
main {
  /* padding: 0 4rem; */
  padding: 0vh 3vw;
}

/* 
.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar li {
    list-style-type: none;
}

.navbar li:hover {
    scale: 1.2;
}

.navbar li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;

} */

/* contact section starts */

/* contact section ends */


/* footer section starts */


